<div class="flex flex-row justify-start items-center">
    <div (click)="goTo()"
      class="flex flex-row justify-center items-center gap-1 cursor-pointer p-1 hover:bg-background-dark rounded transition-colors">
      <div class="flex flex-row justify-center items-center text-center ">
        <span class="material-symbols-outlined">
          local_shipping
        </span>
      </div>
      <div class="flex flex-row justify-center items-center w-full">
        <h5>{{Ruta}}</h5>
      </div>
    </div>
</div>

