<div class="flex flex-col w-full bg-background rounded shadow-sm bg-background p-4">
  <div class="flex flex-col gap-3">
    <h4 class="font-semibold">Carrito</h4>
    <div class="flex flex-col w-full gap-2 pt-2">
      <div class="flex flex-row gap-2">
        <img class="object-cover rounded w-[50px] min-w-[50px] max-w-[50px] min-h-[50px] max-h-[50px] h-[50px]"
          src="{{imgProducto}}" alt="">
        <div class="flex flex-row w-full justify-between">
          <div class="flex flex-col gap-1 justify-start items-start">
            <div class="flex justify-center items-center">
              <span class="font-bold">{{nombreProducto}}</span>
            </div>
            <div class="flex justify-center items-center">
              <span class="text-sm">{{precioProducto}} {{Moneda}}</span>
            </div>
          </div>
          <div class="flex justify-center items-center cursor-pointer p-1 hover:bg-background-dark">
            <span class="material-symbols-outlined">
              close
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>

    <div class="flex flex-row border-t-2 p-2 gap-2 border-border justify-between items-center">
        <h4 class="font-semibold">Total</h4>
        <span class="font-semibold text-lg">200</span>
    </div>
    <div class="flex w-full">
      <button class="w-full">Pagar</button>

    </div>
  </div>


</div>
